
/* Elementos de menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding:0;
}

/* items menu */

#menu ul li{
    background-color: black;
    float: left;
    margin:0;
    padding: 0;
    position: relative;
}

#menu ul a{
    display: block;
    color: white;
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
}

#menu ul li:hover{
    background: lightgray;
    color:black;
}

/* menu desplegable */

#menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

/* items del menu desplegable */

#menu ul ul li {
 float:none;
 width:150px
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
 line-height:120%;
 padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
 display:block;
}
